<%= form_for @question do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Question" %><br>
    <%= f.text_area :query, placeholder: 'Entrez votre question' %>
  </div>

  <div class="field">
    <%= f.label "Nombre de points de cette question (max: 3)" %><br>
    <%= f.number_field :points, in: 1...4 %>
  </div>

  <h3>Réponses possibles:</h3>

  <div class="field">
    <%= f.label "Les réponses possibles:" %>
    <%= f.text_field :possible_choices, placeholder: "test" %>
  </div>

  <div class="field">
    <%= f.label "Index de la bonne question" %><br>
    <%= f.number_field :good_answer_index, in: 0...4 %>
  </div>
  <div class="field">
    <%= f.label :desc %><br>
    <%= f.text_area :desc %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>

  









