<h1>Listing questions</h1>

<table>
  <thead>
    <tr>
      <th>Query</th>
      <th>Correct answer</th>
      <th>Bad answer n°1</th>
      <th>Bad answer n°2</th>
      <th>Bad answer n°3</th>
      <th>Desc</th>
      <th>Url</th>
      <th>Category</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.query %></td>
        <td><%= question.good_answer %></td>
        <td><%= question.bad_answer_1 %></td>
        <td><%= question.bad_answer_2 %></td>
        <td><%= question.bad_answer_3 %></td>
        <td><%= question.desc %></td>
        <td><%= question.url %></td>
        <td><%= question.category %></td>
        <td><%= link_to 'Show', question %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_question_path %>


