<p>
  <strong>Query:</strong>
  <%= @question.query %>
</p>

<p>
  <strong>Choices:</strong>
  <% @question.answers.each do |a| %>
          <%= a %><br/>
          <% end %>
</p>

<p>
  <strong>Correct answer:</strong>
  <%= @question.good_answer %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @question.desc %>
</p>

<p>
  <strong>Url:</strong>
  <%= @question.url %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>