<%= form_for @challenge do |f| %>
	<%= @questions.each do |q| %>
		<%= q.query %>
	
		<%= f.fields_for :answer do |a| %>		
			<% q.possible_choices.each do |c| %>
				<p>
					<%= a.label c %>
					<%= a.radio_button :chosen_answer_index, q.possible_choices.index(c) %>
				</p>
			<% end %>
			<%= a.submit %>
		<% end %>
	<% end %>
<% end %>